link(rel="stylesheet" href="/minecraft-skin/minecraft-skinviewer.css")
script(type="module" src="/scripts/minecraft-skin.js")

.minecraft-me-container
  viewer#skin-viewer(class='mc-skin-viewer-9x waving')
    .player
      // Head
      .head
        .top
        .left
        .front
          .eyes
            .left-eye
            .right-eye
        .right
        .back
        .bottom
        .accessory
          .top
          .left
          .front
          .right
          .back
          .bottom
      // Body
      .body
        .top
        .left
        .front
        .right
        .back
        .bottom
        .accessory
          .top
          .left
          .front
          .right
          .back
          .bottom
      // Left Arm
      .left-arm
        .top
        .left
        .front
        .right
        .back
        .bottom
        .accessory
          .top
          .left
          .front
          .right
          .back
          .bottom
      // Right Arm
      .right-arm
        .top
        .left
        .front
        .right
        .back
        .bottom
        .accessory
          .top
          .left
          .front
          .right
          .back
          .bottom
      // Left Leg
      .left-leg
        .top
        .left
        .front
        .right
        .back
        .bottom
        .accessory
          .top
          .left
          .front
          .right
          .back
          .bottom
      // Right Leg
      .right-leg
        .top
        .left
        .front
        .right
        .back
        .bottom
        .accessory
          .top
          .left
          .front
          .right
          .back
          .bottom
