@import 'variables';
@import 'dank-mono';
@import 'mixins/breakpoint';

$max-width: 900px;
$max-width-wide: 1200px;

// Universal box sizing with inheritance
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
}
html,
body {
	font-family: 'dm', monospace;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	// min-height: 100%;
	font-size: 18px;

	@include breakpoint('lt-sm') {
		font-size: 16px;
	}

	@include breakpoint('gt-lg') {
		font-size: 24px;
	}
}

body {
	color: hsl(0, 0%, 20%);
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/*
@include breakpoint('xxs') {
	body {
		border: 10px solid yellow;
	}
}

@include breakpoint('gt-xxs') {
	body {
		border: 10px solid cyan;
	}
}

@include breakpoint('gt-xs') {
	body {
		border: 10px solid blue;
	}
}

@include breakpoint('gt-sm') {
	body {
		border: 10px solid $link-color;
	}
}

@include breakpoint('gt-md') {
	body {
		border: 10px solid purple;
	}
}

@include breakpoint('gt-lg') {
	body {
		border: 10px solid green;
	}
}

@include breakpoint('gt-xl') {
	body {
		border: 10px solid magenta;
	}
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0 0 0.5em;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.3em;
}

a {
	color: $link-color;
	text-underline-offset: 0.3em;
	transition: color 0.2s;

	&:hover {
		color: hsl(320, 100%, 50%) !important;
	}

	&:visited {
		color: $link-color-visited;
	}
}

p {
	margin: 0 0 1em;
}

.content section:last-of-type {
}

a.home {
	margin-top: 2em;
	display: block;
	position: relative;

	&:before {
		content: 'â†';
		position: absolute;
		left: -0.25em;
		transform: translateX(-100%);
		transition: left 0.2s;
	}
	&:hover {
		&:before {
			left: -0.5em;
		}
	}
}

$padding: 5vw;
$padding-large: 10vw;

header {
	padding: $padding $padding 2em;
	@include breakpoint('lt-sm') {
		padding: $padding-large $padding-large 2em;
	}

	h1 {
		margin: 0;

		b {
			font-weight: normal;
			&:nth-child(1) {
				color: hsl(0, 0%, 70%);
			}
			&:nth-child(2) {
				color: hsl(0, 0%, 30%);
				position: relative;

				&:after {
					content: '';
					background: {
						image: url('/images/eagle-icon-64.png');
						size: 32px;
					}
					width: 32px;
					height: 32px;
					position: absolute;
					right: 0;
					transform: translateY(-50%) translateX(50%);
					line-height: 1;
					font-size: 0.75em;
				}
			}
			&:nth-child(3) {
				color: hsl(0, 0%, 90%);
			}
		}

		a {
			text-decoration: none;
		}
	}
}

.content {
	flex-grow: 1;
	padding: 0 $padding $padding $padding;
	@include breakpoint('lt-sm') {
		padding: 0 $padding-large $padding-large $padding-large;
	}
	max-width: $max-width;
	@include breakpoint('gt-lg') {
		max-width: $max-width-wide;
	}
}

footer {
	> .container {
		max-width: $max-width;
		@include breakpoint('gt-lg') {
			max-width: $max-width-wide;
		}
		@include breakpoint('lt-sm') {
			flex-direction: column-reverse;
		}

		> * {
			margin: 0 5px;
		}
		padding: 2em $padding;
		@include breakpoint('lt-sm') {
			padding: 1.5em $padding-large;
		}
		display: flex;
		align-items: center;
	}

	background: #333;
	color: #ccc;

	.copyright {
		flex-grow: 1;
		position: relative;

		b {
			opacity: 0.6;
			line-height: 1;
			font-weight: normal;
			@include breakpoint('lt-sm') {
				margin-right: 0.2em;
				font-size: 1.3em;
				position: relative;
				top: 0.15em;
			}
			@include breakpoint('gt-xs') {
				font-size: 2em;
				position: absolute;
				transform: translateX(-100%) translateY(-5%);
				left: -0.1em;
				top: 0;
			}
		}

		@include breakpoint('lt-sm') {
			font-size: 0.8em;
			width: 100%;
		}
	}

	.links {
		list-style-type: none;
		li {
			display: inline-block;
			margin: 0 1em 0 0;
			&:last-of-type {
				margin-right: 0;
			}
		}
		@include breakpoint('lt-sm') {
			width: 100%;
			padding-left: 0;
			margin-bottom: 0.5em;
		}
	}
}

time {
	color: hsl(0, 0%, 50%);
	display: block;
}

.info {
	margin: 0.2em 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
}

.post {
	margin: 0 0 2em;
	&:last-of-type {
		margin-bottom: 0;
	}

	p {
		margin: 0;
	}
}

.content ul {
	margin-bottom: 2em;

	li {
		margin-bottom: 1em;
	}
}

code {
	font-family: 'dm', sans-serif;
}

.recipe {
	background: hsl(0, 0%, 40%);
	border-radius: 5px;
	color: white;
	padding: 1em;
	margin: 0 -1em 2em;

	h2 {
		color: hsla(0, 0%, 100%, 0.5);
		text-transform: uppercase;
	}

	ul {
		// outline: 1px solid red;
		list-style-type: none;
		line-height: 1.5;
		margin: 0 0 1em;
		&:last-child {
			margin-bottom: 0;
		}
		padding: 0;
		font-size: 1em;

		li {
			// outline: 1px solid red;
			margin: 0;
		}
	}

	.directions {
		&:before {
			content: 'Directions: ';
			text-transform: uppercase;
			color: hsla(0, 0%, 100%, 0.5);
		}
		margin: 0;
	}
}

ul.tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
	// display: flex;
	font-size: 0.8em;

	&:before {
		content: 'Tags: ';
	}

	li {
		margin: 0;
		padding: 0;
		display: inline;
		&:after {
			content: ', ';
		}
		&:last-of-type {
			&:after {
				content: '';
			}
		}
	}
}

.page.index {
	display: flex;
	@include breakpoint('lt-sm') {
		flex-direction: column;

		.posts {
			margin-bottom: 2em;
		}
	}

	.posts {
		flex-grow: 1;
	}

	.tags {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

.iphone-vertical {
	width: 281px;
	height: 500px;
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;

	@include breakpoint('lt-sm') {
		width: 100%;
		height: 50vh;
		float: none;
		margin-bottom: 1em;
		margin-left: 0;
	}
}
