@import 'variables';
@import 'dank-mono';

* {
	// outline: 5px solid $color-primary;
}

html,
body {
	font-family: 'dm', monospace;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 18px;
}

body {
	// min-height: 100%;
	color: hsl(0, 0%, 20%);
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

a {
	color: $link-color;
	text-underline-offset: 0.3em;
	transition: color 0.2s;

	&:hover {
		color: hsl(320, 100%, 50%) !important;
	}

	&:visited {
		color: $link-color-visited;
	}
}

p {
	margin: 0 0 2em;
}

a.home {
	position: relative;

	&:before {
		content: 'â†';
		position: absolute;
		left: -0.25em;
		transform: translateX(-100%);
		transition: left 0.2s;
	}
	&:hover {
		&:before {
			left: -0.5em;
		}
	}
}

$padding: 5vw;

header {
	padding: $padding $padding calc($padding/2);

	h1 {
		margin: 0;

		b {
			font-weight: normal;
			&:nth-child(1) {
				color: hsl(0, 0%, 70%);
			}
			&:nth-child(2) {
				color: hsl(0, 0%, 30%);
				position: relative;

				&:after {
					content: '';
					background: {
						image: url('/images/eagle-icon-64.png');
						size: 32px;
					}
					width: 32px;
					height: 32px;
					position: absolute;
					right: 0;
					transform: translateY(-50%) translateX(50%);
					line-height: 1;
					font-size: 0.75em;
				}
			}
			&:nth-child(3) {
				color: hsl(0, 0%, 90%);
			}
		}

		a {
			text-decoration: none;
		}
	}
}

.content {
	flex-grow: 1;
	padding: 0 $padding $padding $padding;
}

footer {
	background: #333;
	color: #ccc;
	display: flex;
	align-items: center;
	> * {
		margin: 0 5px;
	}
	padding: calc($padding/2) $padding;

	.copyright {
		flex-grow: 1;
		position: relative;

		b {
			font-size: 36px;
			opacity: 0.6;
			line-height: 1;
			font-weight: normal;
			position: absolute;
			transform: translateX(-100%) translateY(-5%);
			left: -0.1em;
			top: 0;
		}
	}

	.links {
		list-style-type: none;
		li {
			display: inline-block;
			margin: 0 1em 0 0;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.copy {
	// font-size: 2em;
}

.post {
	margin: 0 0 2em;
	&:last-of-type {
		margin-bottom: 0;
	}

	time {
		color: hsl(0, 0%, 50%);
		display: block;
		margin: 0.2em 0 1em 0;
	}

	p {
		margin: 0;
	}
}

ul {
	li {
		margin-bottom: 1em;
	}
}
