@import 'variables';
@import 'dank-mono';
@import 'mixins/breakpoint';
//@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,700;1,400&display=swap');

// Theme for syntax highlighting with highlight.js
@import 'lib/_highlightjs-theme-solarized-dark';

$max-width: 50em;
$max-width-wide: 70em;

// Universal box sizing with inheritance
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
}
html,
body {
	font-family: 'Hanken Grotesk', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	// min-height: 100%;
	font-size: 18px;

	@include breakpoint('lt-sm') {
		font-size: 16px;
	}

	@include breakpoint('gt-lg') {
		font-size: 24px;
	}

	@include breakpoint('gt-xl') {
		font-size: 36px;
	}
}

body {
	color: hsl(0, 0%, 20%);
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/*
@include breakpoint('xxs') {
	body {
		border: 10px solid yellow;
	}
}

@include breakpoint('gt-xxs') {
	body {
		border: 10px solid cyan;
	}
}

@include breakpoint('gt-xs') {
	body {
		border: 10px solid blue;
	}
}

@include breakpoint('gt-sm') {
	body {
		border: 10px solid $link-color;
	}
}

@include breakpoint('gt-md') {
	body {
		border: 10px solid purple;
	}
}

@include breakpoint('gt-lg') {
	body {
		border: 10px solid green;
	}
}

@include breakpoint('gt-xl') {
	body {
		border: 10px solid magenta;
	}
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-weight: normal;
	margin: 0 0 0.5em;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.3em;
}

a {
	color: $link-color;
	text-underline-offset: 0.3em;
	transition: color 0.2s;

	&:hover {
		color: hsl(320, 100%, 50%) !important;
	}

	&:visited {
		color: $link-color-visited;
	}
}

p {
	margin: 0 0 1em;
}

a.home {
	margin-top: 2em;
	display: inline-block;
	position: relative;

	&:before {
		content: '←';
		position: absolute;
		left: -0.25em;
		transform: translateX(-100%);
		transition: left 0.2s;
	}
	&:hover {
		&:before {
			left: -0.5em;
		}
	}
}

$padding: 5vw;
$padding-large: 10vw;

header {
	font-family: 'dm', monospace;
	padding: $padding $padding 2em;
	@include breakpoint('lt-sm') {
		padding: $padding-large $padding-large 2em;
	}
	z-index: 1;

	h1 {
		margin: 0;

		b {
			font-weight: normal;
			&:nth-child(1) {
				color: hsl(0, 0%, 70%);
			}
			&:nth-child(2) {
				color: hsl(0, 0%, 30%);
				position: relative;

				&:after {
					content: '';
					background: {
						image: url('/images/eagle-icon-64.png');
						size: 32px;
					}
					width: 32px;
					height: 32px;
					position: absolute;
					right: 0.3em;
					top: 0.4em;
					transform: translateY(-100%) translateX(100%);
					line-height: 1;
					font-size: 0.75em;
				}
			}
			&:nth-child(3) {
				color: hsl(0, 0%, 90%);
			}
		}

		a {
			text-decoration: none;
		}
	}
}

.content {
	flex-grow: 1;
	padding: 0 $padding $padding $padding;
	@include breakpoint('lt-sm') {
		padding: 0 $padding-large $padding-large $padding-large;
	}
	// max-width: $max-width;
	@include breakpoint('gt-lg') {
		max-width: $max-width-wide;
	}
}

footer {
	font-family: 'dm', monospace;

	> .container {
		// max-width: $max-width;
		@include breakpoint('gt-lg') {
			max-width: $max-width-wide;
		}
		@include breakpoint('lt-sm') {
			flex-direction: column-reverse;
		}

		> * {
			margin: 0 5px;
		}
		padding: 2em $padding;
		@include breakpoint('lt-sm') {
			padding: 1.5em $padding-large;
		}
		display: flex;
		align-items: center;
	}

	background: #333;
	color: #ccc;

	.copyright {
		flex-grow: 1;
		position: relative;

		b {
			opacity: 0.6;
			line-height: 1;
			font-weight: normal;
			@include breakpoint('lt-sm') {
				margin-right: 0.2em;
				font-size: 1.3em;
				position: relative;
				top: 0.15em;
			}
			@include breakpoint('gt-xs') {
				font-size: 2em;
				position: absolute;
				transform: translateX(-100%) translateY(-5%);
				left: -0.1em;
				top: 0;
			}
		}

		@include breakpoint('lt-sm') {
			font-size: 0.8em;
			width: 100%;
		}
	}

	.links {
		list-style-type: none;
		li {
			display: inline-block;
			margin: 0 1em 0 0;
			&:last-of-type {
				margin-right: 0;
			}
		}
		@include breakpoint('lt-sm') {
			width: 100%;
			padding-left: 0;
			margin-bottom: 0.5em;
		}
	}
}

time {
	font-family: 'dm', monospace;
	color: hsl(0, 0%, 50%);
	display: block;
}

.info {
	margin: 0.2em 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
}

.post {
	.title {
		margin-bottom: 0.1em;
	}
	margin: 0 0 2em;
	&:last-of-type {
		margin-bottom: 0;
	}

	p {
		margin: 0;
	}
}

.content ul {
	margin-bottom: 2em;

	li {
		margin-bottom: 1em;
	}
}

code {
	font-family: 'dm', sans-serif;
}

.recipe {
	font-family: 'Hanken Grotesk', sans-serif;
	padding: 1em;
	margin: 0 -1em 2em;
	border: 2px solid hsl(0, 0%, 20%);
	box-shadow: 5px 5px $orange;
	position: relative;

	h2 {
		font-family: 'Hanken Grotesk', sans-serif;
	}

	ul {
		display: table;
		list-style-type: none;
		line-height: 1.5;
		border-spacing: 0 0.5em;
		margin: 0 0 1em 1em;
		&:last-child {
			margin-bottom: 0;
		}
		padding: 0;
		font-size: 1em;

		li {
			display: table-row;
			margin: 0;
			line-height: 1.5;
			&:last-of-type {
				padding-bottom: 0;
			}
		}
	}

	li > b {
		display: table-cell;
		&:nth-child(1) {
			text-align: right;
			padding-right: 0.5em;
			white-space: nowrap;
		}
	}

	b {
		font-weight: normal;
	}

	.quantity {
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1;
		text-align: right;
		color: $orange;
	}

	.unit {
		color: $orange;
		font-weight: bold;
	}

	.small-space {
		display: inline-block;
		width: 0.1em;
	}

	.directions {
		&:before {
			content: 'Directions: ';
			text-transform: uppercase;
			font-weight: bold;
		}
		margin: 0;
	}

	.controls {
		font-family: 'dm', monospace;
		float: right;
		top: 1em;
		right: 1em;
		display: flex;

		button,
		input {
			font-family: 'dm', monospace;
		}

		button {
			color: hsl(0, 0%, 20%);
			cursor: pointer;
			font-size: 1em;
			padding: 0.5em;
			border: 0;
			background: 0;
		}

		.servings {
			font-size: 1em;
			padding: 0.5em;
			width: 2em;
			border: 0;
			text-align: center;
		}
	}
}

ul.tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
	// display: flex;
	font-family: 'dm', monospace;
	font-size: 0.8em;

	&:before {
		content: 'Tags: ';
	}

	li {
		margin: 0;
		padding: 0;
		display: inline;
		&:after {
			content: ', ';
		}
		&:last-of-type {
			&:after {
				content: '';
			}
		}
	}
}

.page.index > .container {
	display: flex;
	align-items: flex-start;

	@include breakpoint('lt-sm') {
		flex-direction: column;

		.posts {
			margin-bottom: 2em;
		}
	}

	.posts {
		flex-grow: 1;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: normal;
			margin-bottom: 0.1em;
			line-height: 1.5;
		}

		> h2 {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}

	.tags {
		ul {
			font-family: 'dm', monospace;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

.iphone-vertical {
	width: 281px;
	height: 500px;
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;

	@include breakpoint('lt-sm') {
		width: 100%;
		height: 50vh;
		float: none;
		margin-bottom: 1em;
		margin-left: 0;
	}
}

.comments {
	margin-top: 2em;
	> h3 {
		margin-bottom: 1em;
	}
}

.comment {
}

.comment-header {
}

.comment-name {
	font-weight: bold;
}

.comment-date {
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

.comment-body {
}

.new-comment {
	margin-top: 3em;

	label {
		display: block;
		margin: 0 0 0.5em;
		> b {
			font-weight: normal;
			display: block;
		}
	}

	label {
		b {
			color: hsl(0, 0%, 50%);
			transition: all 0.2s;
			margin: 0 0 0.2em;
			position: relative;
			font-size: 0.8em;
			z-index: 2;
			pointer-events: none;
		}

		&:not(.has-value) {
			b {
				// transform: translateY(150%);
				bottom: -2em;
				// line-height: 1.2;
			}
		}
		&.has-value {
			b {
				bottom: 0;

				// transform: translateY(0);
				// line-height: 1;
			}
		}
	}

	// This is a honeypot
	label[for='website'] {
		display: none;
	}

	input,
	textarea {
		font-size: 1rem;
		padding: 0.5em;

		&:focus {
			border-radius: 0 !important;
		}
	}

	input {
		margin: 0 calc(-0.5em - 2px);
		width: calc(100% + 0.5em + 2px);
	}

	textarea {
		font-family: 'Hanken Grotesk', sans-serif;
		width: 100%;
		margin: 0;
		// @see https://stackoverflow.com/questions/7144843/extra-space-under-textarea-differs-along-browsers
		vertical-align: top;
		min-height: 200px;
		position: relative;
	}

	input,
	textarea {
		border: 1px solid hsl(0, 0%, 20%);
		border-radius: 0;
	}
}

button[type='submit'] {
	font-size: 1em;
	float: right;
	margin-left: 2em;
	position: relative;
	z-index: 1;
}

.comment-text {
	width: calc(100% + 0.5em + 2px);
	position: relative;
	margin: 0 calc(-0.5em - 2px);
	transform-style: preserve-3d;
	backface-visibility: hidden;

	&.show-preview {
		.markdown-preview {
			max-height: 400px;
			overflow: auto;
			opacity: 1;
		}
	}

	.markdown-preview {
		padding: 0.5em;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: all 0.5s;

		&:before {
			content: 'Preview: ';
			text-transform: uppercase;
			color: hsla(0, 0%, 0%, 0.5);
			font-size: 0.8em;
		}
	}
}

button.show-preview {
	margin-left: 1em;
	&:before {
		content: 'Show ';
	}
	&.active {
		&:before {
			content: 'Hide ';
		}
	}
}

.comment-text-help {
	color: hsla(0, 0%, 0%, 0.5);
	font-size: 0.8em;
}

form {
	transition: opacity 0.2s;
	&.submitting {
		opacity: 0.5;
	}
}

.message {
	position: relative;

	&:before {
		position: absolute;
		left: 0;
		transform: translateX(calc(-100% - 0.5em)) scale(1.5);
	}

	&.success {
		&:before {
			content: '🤙 ';
		}
	}

	&.error {
		&:before {
			content: '😭 ';
		}
	}
}

button,
input[type='button'] {
	font-family: 'Hanken Grotesk', sans-serif;
}

.hero {
}

.introduction {
	position: relative;
	background: $sol-base02;
	color: $sol-base1;
	padding: $padding;
	margin: {
		bottom: $padding;
	}
	font-size: 36px;
	@include breakpoint('lt-sm') {
		padding: $padding-large;
		margin: {
			bottom: $padding-large;
		}
		font-size: 24px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.typer {
	font-family: 'dm';
	overflow: hidden;

	.directory,
	.git,
	.branch {
		display: inline;
	}

	.prompt {
		font-weight: bold;

		.directory {
			color: $sol-magenta;
		}
		.git {
			margin-left: 0.3em;
			color: $sol-green;
		}
		.branch {
			color: $sol-yellow;
		}
	}

	.text {
		&.placeheld {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		p {
			display: inline;
		}

		.possible-completion {
			color: $sol-base01;
		}
	}

	.placeholder {
		opacity: 0;
		pointer-events: none;
	}

	.text-container {
		position: relative;
	}

	@keyframes blink-cursor {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.cursor {
		font-weight: bold;
		color: $sol-yellow;
		margin: 0 -0.28em;
		animation: {
			name: blink-cursor;
			iteration-count: infinite;
			duration: 1.5s;
			timing-function: step-end;
		}
	}

	.restart {
		cursor: pointer;
		@keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		opacity: 0;

		animation: {
			name: fade-in;
			iteration-count: 1;
			duration: 1s;
			delay: 2s;
			fill-mode: forwards;
		}

		&.no-delay {
			opacity: 1;
			animation: none;
		}
	}
}

.hero-image {
	margin: {
		left: $padding * -1;
		right: $padding * -1;
	}
	padding: $padding;
	background: {
		size: cover;
		position: center;
	}
	min-height: 75vh;
}

.post-content img {
	max-width: 100%;
}

.hljs {
	border-radius: 5px;
	padding: 1em;
	margin: 0 -1em;
}

blockquote {
	border-left: $orange 5px solid;
	color: hsl(0, 0%, 40%);
	padding-left: 1em;
	margin-left: 0;
}

.float-right {
	float: right;
	margin-left: 1em;
}

.float-left {
	float: left;
	margin-right: 1em;
}

.image-with-caption {
	display: inline-block;
	position: relative;
	margin: 0 1em 1em 0;
	.caption {
		color: hsl(0, 0%, 40%);
		font-family: 'dm', monospace;
		position: absolute;
		top: 3em;
		right: 0;
		background: hsl(0, 0%, 100%);
		padding: 0.5em;
		font-size: 18px;
	}
}
