---
title: Page Not Found
---
p It looks like you've found a page that doesn't exist. Which is a funny thing to happpen, if you think about it.

p It's probably my fault: I'm still reworking the way the site works. Please bear with me until the dust clears.

p You should be able to
	=' '
	a(href="/") go back to the home page
	=' '
	| to find what you're looking for.
