---
title: About Me
---
.minecraft-me
	include /minecraft-skin.pug
	.name
		b Hurricane
		b Nate

p I&rsquo;m a software engineer, amateur bartender, tiki enthusiast, tennis player, go player, and father. I live in Washington, DC.

p This is mostly a place for my notes. But you&rsquo;re welcome to read them.

ul 
	li
		:md My profile on [LinkedIn](https://www.linkedin.com/in/nateeagle/).
	li
		:md Almost a decade and a half of caffeine-fueled posts on [Twitter](https://twitter.com/neagle).
	li
		:md My [Github](https://github.com/neagle).
	li
		:md
			[GoKibitz](https://gokibitz.com): A web app that I built for reviewing Go
			games. I haven’t actively updated it in quite a while, but there’s still
			an active community of players giving high-quality reviews.
	li 
		:md
			[Retro HIIT](https://hiit-neagle.vercel.app/): A web app that I built for
			running HIIT workouts structured around timed intervals.  [Find a workout
			here](https://www.haygroveschool.co.uk/uploads/files/100-hiit-workouts.pdf)
			and load it up in the config. Then blast some high-energy music and get to
			work.
	li
		:md
			[My go games on KGS](https://gokgs.com/gameArchives.jsp?user=cloudbrows):
			I haven’t been playing go as seriously the last few years, but I still
			love to play blitz games online. I’ve been stuck at 1k KGS / 1d AGA for
			several years.
	li 
		:md
			I’m a graduate of [St. John's College](https://www.sjc.edu/) in Annapolis,
			MD. It’s kind of a weird place: nobody declares a major and everybody
			studies essentially the same four-year curriculum based in the classics of
			Western civilization. 
