---
title: About Me
---
p I&rsquo;m a software engineer, amateur bartender, tiki enthusiast, tennis player, go player, and father. I live in Washington, DC.

p This is mostly a place for my notes. But you&rsquo;re welcome to read them.

ul 
	li
		| My profile on
		=' '
		a(href="https://www.linkedin.com/in/nateeagle/") LinkedIn
	li
		| Almost a decade and a half of caffeine-fueled posts on
		=' '
		a(href="https://twitter.com/neagle") Twitter
	li
		| My
		=' '
		a(href="https://github.com/neagle") GitHub
