---
title: Colophon
---

ul
	li
		a(href="https://philpl.gumroad.com/l/dank-mono") Dank Mono
		=' '
		| typeface by
		=' '
		a(href="https://philpl.gumroad.com/") Phil Pluckthun

	li
		a(href="https://fonts.google.com/specimen/Hanken+Grotesk") Hanken Grotesk
		=' '
		| typeface by
		=' '
		a(href="https://fonts.google.com/?query=Alfredo+Marco+Pradil") Alfredo Marco Pradil
		=' '
		| and provided by
		=' '
		a(href="https://fonts.google.com/") Google Fonts

	li
		a(href="https://icons8.com/icon/GggQ3qwMbw9U/eagle")
			| Eagle icon
		=' '
		| in site header by
		=' '
		a(href="https://icons8.com") Icons8
	
	li This site is powered by
		=" "
		a(href="https://github.com/neagle/n3") n3
		|, a static-site generator I wrote in Node.js to power a single site: this one.
