---
title: Colophon
---

ul
	li
		:md
			[Dank Mono](https://philpl.gumroad.com/l/dank-mono) typeface by [Phil
			Pluckthun](https://philpl.gumroad.com/).

	li
		:md
			[Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
			typeface by [Alfredo Marco
			Pradil](https://fonts.google.com/?query=Alfredo+Marco+Pradil) and provided
			by [Google Fonts](https://fonts.google.com/).

	li
		:md
			[Eagle icon](https://icons8.com/icon/GggQ3qwMbw9U/eagle) in site header by
			[Icon8](https://icons8.com/).
	
	li
		p This site is powered by
			=" "
			a(href="https://github.com/neagle/n3") n3
			|, a static-site generator I wrote in
			=" "
			del Node.js
			=" "
			a(href="https://deno.land") deno
			=" "
			| to power a single site: this one.
		p It&rsquo;s also written in
			=" "
			a(href="https://www.typescriptlang.org/") TypeScript
			| , because I sometimes get slightly grumpy about TypeScript and I wanted to force myself to spend some more time in it.

	li
		p
			:md I used [Robert Koszewski](https://www.robertkoszewski.com/)’s excellent [Minecraft Skin Viewer in CSS](https://github.com/rkkoszewski/minecraft-css-3d-skin-viewer) as the foundation for my Hurricane Nate self-portrait on my [about page](/about.html).
