section.posts
	each post in posts
		if !post.attributes.unlisted
			article.post
				h2
					a(href=post.link)= post.attributes.title
				time= post.attributes.date.format('MMMM D, YYYY')

				if post.attributes.description
					p.description= post.attributes.description

section.tags
	h3 Tags
	ul
		each tag in Object.keys(tags).sort()
			li: a(href=`/tag/${tag}/`)= tag
