.container 
	.introduction
		h2 I’m a web developer and amateur cocktailer living in Washington, DC.
		p This is half blog, half filing system for the things I don’t want to forget.
		p More
			=' '
			a(href="/about.html") about me
			| .

	section.posts

		each post in posts
			if !post.attributes.unlisted
				article.post
					h2
						a(href=post.link)= post.attributes.title
					time= post.attributes.date.format('MMMM D, YYYY')

					if post.attributes.description
						p.description= post.attributes.description

	section.tags
		h3 Tags
		ul
			each tag in Object.keys(tags).sort()
				li: a(href=`/tag/${tag}/`)= tag
